@font-face {
    font-family: Bosch;
    src: url(font/Bosch.woff) format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

*{margin:0;
padding:0;
}

ul{list-style: none;}
a{color:inherit;
text-decoration: none;}

body{
    background-color: #1d1d1d;
}


/*s1영역*/

 #s1{
    display: flex;
    height: 100vh;
 }
 /* svg title 영역 */

 .st0{fill:#EFEEEE;
    font-family:'BoschRegular';
    font-size:160px;
    letter-spacing:12px;}
  
  #s1 .txt text{
      font-size: 0;
     transform: rotate(-90deg);
     display: block;
     width: 100vh;
     position: absolute;
     right: 20%;
     top: 38%;
     letter-spacing: 12px;
     
    }

    #s1 .txt .storkeLogo{
        font-size: 160px;
        width:140px;
        position: absolute;
        right: 15px;
        top: 40px;


    }
  #s1 .txt span {
    display: inline-block;
    font-size: 160px;
  }
  
  #s1 .s1Wrap{
      margin-left: auto;
      margin-right: auto;
  }

  .reg-text {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
    -webkit-transition: opacity 5s ease, -webkit-transform 3.33333s ease-out;
    transition: opacity 5s ease, -webkit-transform 3.33333s ease-out;
    transition: transform 3.33333s ease-out, opacity 5s ease;
    transition: transform 3.33333s ease-out, opacity 5s ease, -webkit-transform 3.33333s ease-out;
  }
  .reg-text.loaded {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  
  .letter {
    -webkit-transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease;
    transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    opacity: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  .letter:nth-of-type(2) {
    -webkit-transform: translateY(-160px);
            transform: translateY(-160px);
    -webkit-transition-duration: 2.5s;
            transition-duration: 2.5s;
  }
  .letter:nth-of-type(3) {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
    -webkit-transition-duration: 3.84615s;
            transition-duration: 3.84615s;
  }
  .letter:nth-of-type(4) {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition-duration: 3.33333s;
            transition-duration: 3.33333s;
  }
  .letter:nth-of-type(5) {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    -webkit-transition-duration: 2.5s;
            transition-duration: 2.5s;
  }
  .letter:nth-of-type(6) {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateY(-180px);
            transform: translateY(-180px);
    -webkit-transition-duration: 2.17391s;
            transition-duration: 2.17391s;
  }
  .letter.loaded {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  /* svg타이틀영역 끗  */
 #s1 .txt{
    font-size: 160px;
    color:#eee;
    height: 100vh;
    position: relative;
    width: 30%;
   
   
 }

 #s1 .txt text{
position: absolute;
left: -30%;
top:38%;
font-family: Bosch;
 }

  header{height: 110px;}
.hwrap{
    width: 1220px;
    color:#eee;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    

}

header h1{
    padding-left: 85px;
    font-size: 30px;
    margin-top: 35px;
    font-family: 'Marcellus', serif;
}

.gnb{display: flex;
    position: absolute;
    top:10px;
    left: 300px;
    font-family: 'Marcellus', serif;
  
}

.gnb li{
    margin: 0 60px;
    text-align: center;
    font-size: 24;

}

.s2{
    height: 100vh;
    
}

.s2wrap{
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
.s2 .title{
    font-size: 120px;
    color:#eee;
    font-weight: bold;
    font-family: 'Marcellus', serif;
    padding-top: 100px;
}
.con{
  display: flex;
  justify-content: space-between;
}

.profile{
    width: 300px;
}

.face{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid #eee;
    margin-left: auto;
    margin-right: auto;
    
 
}

.profile p{
    font-size: 20px;
    color:#eee;
    margin-top: 30px;
  
}

.space{margin-top: 200px;}
.progress{
  border: 1px solid #ccc;
  border-radius: 350px;
  width: 400px;
  height: 30px;
  margin:0 auto 30px;
  overflow: hidden;
}

.pr2 span{
  animation-delay: 0.2s;
}
.pr3 span{
  animation-delay: 0.4s;
}
.pr4 span{
  animation-delay: 0.6s;
}

.progress span{
  width:0;
  height: 100%;
  background-color: darkviolet;
  display: block;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.progress.on span{
  animation-name: progress;
}

.space p{
  font-size: 20px;
  color:#eee;
}

@keyframes progress {
  0%{width: 0;}
  100%{width: 100%;}
}

.s3{height: 100vh;
}

.s3 h1{
  font-size: 100px;
  font-weight: bold;
  color:#eee;
  margin-bottom:100px;
  font-family: 'Marcellus', serif;
  transform: translateX(340px);
  padding-top: 60px;

 
}

.s3wrap{
  width: 1220px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.s3wrap .box{
  width: 31%;
  background-color: #fff;
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 7px 10px rgba(0,0,0,0.2);
  transition: all 1s;
}

.s3wrap .photo{
  height: 180px;
  overflow: hidden;
}

.s3wrap .photo img{
  width: 100%;
  transition: all 1s;
}

.s3wrap .txt{
  box-sizing: border-box;
  padding:15px;
  color:#333;
}

.s3wrap .txt h4{
  margin-bottom: 5px;
  font-size: 14px;
}

.s3wrap .txt p{
  font-size: 12px;
  color:#666;
}

.s3wrap .box:hover{
  transform:translate(-5px,-5px);
  box-shadow: 5px 15px 20px rgba(0,0,0,0.1);
}
.s3wrap .box:hover .photo img{transform:scale(1.1);}

.view, .show{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

figure{
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

figure img{
  width: 100%;
}

.txtbox{
  position:absolute;
  color:#fff;
  text-align: center;
  width: 100%;
  bottom: 20px;
  left: 0;
}

button{
  position: absolute;
  top: 20px;
  right: 20px;
  border:0;
  background-color: transparent;
  color:#fff;
  font-style: italic;
  text-decoration: underline;
}

.closewrap, .closewrap2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.s4{height: 100vh;
}

.s4 h1{
  font-size: 100px;
  font-weight: bold;
  color:#eee;
  margin-bottom:100px;
  font-family: 'Marcellus', serif;
  transform: translateX(340px);
  padding-top: 60px;

 
}

.s4wrap{
  width: 1220px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.s4wrap .box{
  width: 31%;
  background-color: #fff;
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 7px 10px rgba(0,0,0,0.2);
  transition: all 1s;
}

.s4wrap .vid{
  height: 180px;
  overflow: hidden;
}

.s4wrap video{
  width: 100%;
}


.s4wrap .txt{
  box-sizing: border-box;
  padding:15px;
  color:#333;
  text-align: center;
}

.s4wrap .txt h4{
  margin-bottom: 5px;
  font-size: 14px;
  
}

.s4wrap .txt p{
  font-size: 12px;
  color:#666;
}

.s4wrap .box:hover{
  transform:translate(-5px,-5px);
  box-shadow: 5px 15px 20px rgba(0,0,0,0.1);
}
.s4wrap .box:hover .photo img{transform:scale(1.1);}




